<!-- /*
; ==============================
; Title: security-question-list.component.html
; Author: Dan Ross
; Date: 18 April 2021
; Modified By: Dan Ross
; Description: Security question list component HTML
; ==============================
*/ -->

<br /><br />
<div fxLayout="column">
  <mat-card>
    <mat-card-title>Security Questions Configuration</mat-card-title>
    <br>
    <mat-card-subtitle>
      <button mat-raised-button routerLink="/security-questions/create/new">Create</button>
    </mat-card-subtitle>

    <br />

    <mat-card-content *ngIf="securityQuestions">
      <table mat-table [dataSource]="securityQuestions">
        <ng-container matColumnDef="question">
          <th mat-header-cell *matHeaderCellDef>Questions</th>
          <td mat-cell *matCellDef="let element">
            {{ element.text }}
          </td>
        </ng-container>

        <ng-container matColumnDef="functions">
          <th mat-header-cell *matHeaderCellDef>Functions</th>

          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              routerLink="/security-questions/{{ element._id }}"
            >
              <mat-icon color="accent">edit</mat-icon>
            </button>

            <button mat-icon-button (click)="delete(element._id)">
              <mat-icon color="accent">delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
