<!--
 * Title: internal-error.component.html
 * Author: Professor Krasso
 * Date: 26 April 2021
 * Modified By: Juvenal Gonzalez
 * Description: hyperlink markup for internal-error component
-->

<!--Four column layout stacked upon each other for four sections to be displayed-->
<div fxLayout="column">
<h1>500</h1>
</div>
<div fxLayout="column" color="primary">
  <h1>Internal Server Error Please Try Again Later</h1>
</div>
<div fxLayout="column">
  <img src="../../../assets/500image.jfif">
</div>
<div fxLayout="column" class="home" >
  <mat-toolbar  color="primary"  style="display: flex; align-items: center; justify-content: center;">
<a  routerLink="/">Return Home</a>



  </mat-toolbar>
</div>
