<!-- /*
============================================
; Title: not-found.component.html
; Author: Dan Ross
; Date: 24 April 2021
; Modified By: Dan Ross
; Description: This is the not found component HTML file
;===========================================
*/ -->
<div fxLayout="column" class="not-found-cnt">
  <h1>Are you lost?</h1>
 <p><a routerLink="/">Return to home</a></p>

<img src="./assets/Slytherin_ClearBG.jpg">
<small>source: <a href="https://harrypotter.fandom.com/wiki/Slytherin" target="_blank">https://harrypotter.fandom.com/wiki/Slytherin</a></small>
</div>
