<!-- /*
============================================
; Title: auth-layout.component.html
; Author: Dan Ross
; Date: 18 April 2021
; Modified By: Dan Ross
; Description: This is the about component file.
;===========================================
*/ -->
<!-- The Router Outlet shows the HTML code for the active component -->
<!-- mat toolbar -->
<mat-toolbar color="primary">
  <!-- mat toolbar row -->
  <mat-toolbar-row>
    <div style="width: 90%">
      <p>
        Bob's Computer Repair Shop

      </p>
    </div>
  </mat-toolbar-row>

  <!-- end mat toolbar row -->
</mat-toolbar>
<!-- end mat toolbar -->
<router-outlet></router-outlet>
