<!--
 * Title: about.component.html
 * Author: Professor Krasso
 * Date: 26 April 2021
 * Modified By: Brooklyn Hairston
 * Description: hyperlink markup for the about component
-->


<br />
<h1>Who We Are</h1>
<br /><br />
<div fxLayout="row wrap" fxLayout.xs="column">
  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img src="../../../assets/computerrepair.jpg" alt="A person's hands working on a computer piece." style="width: 90%;">
        <figcaption><a href="https://unsplash.com/photos/g5f0BJq-FRs" target="_blank" >Source</a></figcaption>
      </div>
    </div>
  </div>
  <div fxFlex class="about">

    <p>Founded in 2001, Bob’s Computer Repair Shop began as a small, one-man online computer repair shop operating right out of Bob’s home.  Over the years Bob’s Computer Repair Shop built up a loyal following through reliable service and fast turnover.  Twenty years later and Bob has expanded his business to include two store locations with a team of technicians dedicated to giving customers the same reliable and fast service they’ve come to expect from Bob’s Computer Repair.  With a variety of services available, customers are guaranteed to get the repairs they need at an affordable price.  Bob also offers customs repairs for those needs that fall outside the available services.  Just call or email to get a custom quote on your specialized computer repair. Whatever your needs, Bob's Computer Repair Shop is committed to getting your computer back to running strong.  </p>
  </div>
</div>

